.map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: Arial, sans-serif;
}

.ol-attribution > ul {
    font-size: 1.6rem;
}

.progress {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30%;
    height: 5px;
    opacity: 1;
}